<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Home.css" />
    <title>Home - Fit Kwick</title>
  </head>
  <body>
    <div class="nav">
      <h1>Welcome to Fit Kwick</h1>
    </div>
    <div class="buttons_container">
      <a href="/createCustomer">
        <button>Create Customer Records</button>
      </a>
      <a href="/customers">
        <button>View Customers</button>
      </a>
      <a href="/createBooking">
        <button>Create Booking</button>
      </a>
      <a href="/guestPasses">
        <button>Use Guest Pass</button>
      </a>
      <a href="/bookings">
        <button>View Bookings</button>
      </a>
      <a href="/manageBookings">
        <button>Manage Bookings</button>
      </a>
    </div>
  </body>
</html>
